/* #region Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Fredoka', sans-serif;

}

img{
    max-width: 100px;
}

:root{
    --h1-title: #e53170 ;
    --p-text: #13131f ;
    --bg-cards: #0f0e17 ;
    --text-cards: #fffffe ;
    --text-email: #6bcaf1 ;
}

header>p, h1{
    margin-bottom: 2rem;
    text-align: center;
}

h1{
    color: var(--h1-title);
}

a{
    color: var(--text-email);
    text-decoration: none;
}

/* #region main */
.shadow{
    box-shadow: 0px 0px 10px 10px #302f2f;
}


.container{
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;

}

.box{
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
}

.avatar, .dettagli{
    float: left;
}


.avatar{
    width: 100px;
}

.dettagli{
    background-color: var(--bg-cards);
    color: var(--text-cards);
    width: 250px;
    padding: 19px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.email{
    color: var(--text-email);
}

/* #endregion main */
